{% extends "index/base.html" %}

{% block body %}
  <div class="bg-wrap">
        <div class="container">
            <div class="banner-wrap">
                <h1>极简的API设计，轻松接入sdk</h1>

                <h2>
                    个人聊天，群组聊天<br/>
                    文字，图片，语音
                </h2>

                <h3>
                    开源代码，提供无限定制的可能性<br/>
                    可以为企业提供单独部署服务器，定制功能
                </h3>

                <div class="hot">
                    <img src="{{ url_for('web.static', filename='themes/default/images/im.png',_external=true) }}" title="最少的移动IM" alt="最少的移动IM"/>
                </div>
            </div>
        </div>
    </div>
    <div class="out-link">
        <a href="{{ url_for('web.static', filename='docs/Server.html',_external=true) }}" class="btn btn-default btn-large">开发文档</a>
        <a href="{{ url_for('web.static', filename='file/sdk_demo.zip',_external=true) }}" target="_blank" class="btn btn-default btn-large">SDK&Demo下载</a>
        <a href="{{ url_for('web.im_index',_external=true) }}" class="btn btn-default btn-large">申请接入</a>
    </div>
{% endblock %}