{% extends "index/base.html" %}
{% block body %}
    <div class="bg-1">
        <div class="price">
            <div class="container">

                <h2>按需收费 为你所想</h2>

                <p class="free">
                    新应用前三个月免费使用
                </p>

                <div class="item-wrap">
                    <div class="item item-1">
                        <h3>免费用户数量级</h3>

                        <div class="s">
                            <p>日活10万以下免费</p>
                        </div>
                    </div>
                    <div class="item item-3">
                        <h3>收费用户数量级</h3>

                        <div class="s">
                             <p>按日活用户数(10万以上) 每10万日活5000元每月(自然月)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}