{% extends "index/base.html" %}
{% block body %}
    <div class="bg-1">
        <div class="price">
            <div class="container">

                <h2>按需付费 为你所想</h2>

                <p class="free">
                    优惠：新用户前三个月免费使用
                </p>

                <div class="item-wrap">
                    <div class="item item-1">
                        <h3>套餐一</h3>
                        <ul class="service-list">
                            <li>注册用户：<span>小于100万</span></li>
                            <li>日活用户：<span>小于10万</span></li>
                        </ul>
                        <div class="s">
                            <p class="amount">免费</p>

                            <p class="unit">自然月</p>
                        </div>
                    </div>
                    <div class="item item-2">
                        <h3>套餐二</h3>
                        <ul class="service-list">
                            <li>注册用户：<span>大于100万</span></li>
                            <li>日活用户：<span>无限</span></li>
                        </ul>
                        <div class="s">
                            <p class="amount">5000元</p>

                            <p class="unit">自然月</p>
                        </div>
                    </div>
                    <div class="item item-3">
                        <h3>套餐三</h3>
                        <ul class="service-list">
                            <li>注册用户：<span>无限</span></li>
                            <li>日活用户：<span>大于10万</span></li>
                        </ul>
                        <div class="s">
                            <p class="amount">5000元</p>

                            <p class="unit">自然月</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}