<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>智能推送 —— 注册</title>
    <link href="{{ url_for('web.favicon') }}" type="image/x-icon" rel=icon>
    <link href="{{ url_for('web.favicon') }}" type="image/x-icon" rel="shortcut icon">
    <link rel="stylesheet" href="{{ url_for('web.static', filename='themes/default/css/login.css', v='0.4') }}" />
</head>
<body>
    <div class="header">
        <div class="inner-wrapper">
            <div class="opt rt">
                <a href="/register">注册</a>
                <span>|</span>
                <a href="/login">登录</a>
            </div>
            <div class="common-logo"><a href="{{ url_for('web.index') }}">GoBelieve</a></div>
        </div>
    </div>
    <div class="inner-wrapper">
        {% block body %}{% endblock %}
    </div>
    <div class="footer">
        <div class="inner-wrapper">
            <div class="link-wrapper">
                <ul>
                    <li><a href="{{ url_for('web.about') }}" target="_blank">关于GoBelieve</a></li>
                    <li class="line"><span>|</span></li>
                    <li><a href="{{ url_for('web.contact') }}" target="_blank">联系方式</a></li>
                    <li class="line"><span>|</span></li>
                    <li><a href="{{ url_for('web.agreement') }}" target="_blank">服务协议</a></li>
                </ul>
            </div>
            <p class="copyright">Copyright   2014 GoBelieve Developer Severce. All Rights Reserved.</p>
        </div>
    </div>
    {% include "mod/javascript_setup.html" %}
    <script src="{{ url_for('web.static', filename='js/seajs/sea.js') }}"></script>
    <script src="{{ url_for('web.static', filename='js/config.js') }}"></script>
    {% block script %}{% endblock %}
</body>
</html>
