{% extends "layout/im_with_sidebar.html" %}

{% macro inline_field(label, required=False, extra_class="", wrapper_class="") -%}
  <tr class="{{ wrapper_class }}">
    <th>
      <div class="th">
        <label class="label-1">
          {% if required %}<span class="star">*</span>{% endif %}
          {{ label }}
        </label>
      </div>
    </th>
    <td>
      <div class="td {{ extra_class }}">
        {{ caller() }}
      </div>
    </td>
  </tr>
{%- endmacro %}

{% block content_inner %}
  <table>
    <tbody>
      {% call inline_field('应用名称:') %}
        <p class="show-edit">
          <span class="name">{{ data.gamedata.name }}</span>
        </p>
      {% endcall %}

      {% call inline_field('App ID:') %}
        <p class="show-edit">
          <span class="name">{{ data.gamedata.id }}</span>
        </p>
      {% endcall %}

      {% call inline_field('App Key:') %}
        <p class="show-edit">
          <span class="name">{{ data.gamedata.key }}</span>
        </p>
      {% endcall %}

      {% call inline_field('App Secret:') %}
        <p class="show-edit">
          <span class="name">{{ data.gamedata.secret }}</span>
        </p>
      {% endcall %}

      {% call inline_field('支持平台:') %}
        {% for item in data.gamedata.clients %}
          {% if item.platform_type == 1 and item.is_active == 1 %}
            <label class="mr">Android</label>
          {% elif item.platform_type == 2 and item.is_active == 1 %}
            <label>iOS</label>
          {% endif %}
        {% endfor %}
      {% endcall %}

      {% for item in data.gamedata.clients %}
        {% if item.is_active == 1 %}
          <tr>
            {% if item.platform_type | int == 1 %}
              <th valign="top">
                <div class="th key-th">
                  <label class="label-1">Android:</label>
                </div>
              </th>
            {% elif item.platform_type | int == 2 %}
              <th valign="top">
                <div class="th key-th">
                  <label class="label-1">iOS:</label>
                </div>
              </th>
            {% endif %}
            <td>
              <div class="td key-td apns-td">
                {% if item.platform_type | int == 2 %}
                  <p class="apns-wrapper">
                    {% if item.apns.sandbox_key_utime | int == 0 %}
                      <span class="error mr"><strong class="mr-5">×</strong>开发环境APNS证书</span>
                    {% else %}
                      <span class="success mr"><strong class="mr-5">√</strong>开发环境APNS证书</span>
                    {% endif %}
                    {% if item.apns.production_key_utime | int == 0 %}
                      <span class="error mr"><strong class="mr-5">×</strong>生产环境APNS证书</span>
                    {% else %}
                      <span class="success mr"><strong class="mr-5">√</strong>生产环境APNS证书</span>
                    {% endif %}
                  </p>
                {% else %}
                  <p class="apns-wrapper">
                    <span class="mr"><a href="{{ item.certificate.pkey_url }}">公钥下载</a></span>
                    <span class="mr"><a href="{{ item.certificate.cer_url }}">证书下载</a></span>
                  </p>
                {% endif %}
                <p class="error">&nbsp;</p>
              </div>
            </td>
          </tr>
        {% endif %}
      {% endfor %}

      {% call inline_field('应用状态:') %}
        <p class="show-edit">
          <span class="name">{{ "生产环境" if data.gamedata.status| int == 1 else "开发环境" }}</span>
        </p>
      {% endcall %}

      {% call inline_field('发布时间:') %}
        <p class="show-edit">
          <span class="name">{{ data.gamedata.publish_time|datetime }}</span>
        </p>
      {% endcall %}

      {% call inline_field('') %}
        <a href="/im/game/{{data.gamedata.id}}" class="btn-s btn-info">编辑</a>
      {% endcall %}

      {% if data.gamedata.status| int == 0 %}
      {% call inline_field('') %}
        <a href="/im/game/publish/{{data.gamedata.id}}" class="btn-s btn-info">发布</a>
      {% endcall %}
      {% endif %}

    </tbody>
  </table>
{% endblock %}

{% block content %}
  <div class="push-notice-wrapper">
    <div class="container">
      <div class="center-form">
        <div class="center-section">
          <div class="form-1 detail-single-form">
            <form accept-charset="utf-8" method="post" action="">
              {{ self.content_inner() }}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
{% block script %}
  <script>
    seajs.use('dist/app/im/detail/index');
  </script>
{% endblock %}
